.home {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
}

.home * {
  color: #dddddd;
  box-sizing: border-box;
}

/* wip until we get component */
.home button {
  background-color: #111111;
  border: solid 2px #888888;
  border-radius: 6px;
}
